[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
pillow = "*"
cython = "==0.28.2"
kivy = "==1.10.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
