[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
cython = "==0.28.6"
pillow = "*"
kivy = {git = "https://github.com/kivy/kivy.git"}

[dev-packages]

[requires]
python_version = "3.7"
